.input-radio {
  display: none;
}

.radio-btns {
  display: flex;
  justify-content: space-around;
}

.select-container-order .dropdown {
  margin-bottom: 20px;
}

.label-radio {
  align-items: center;
  border-radius: 4px;
  color: #efea4c;
  display: flex;
  justify-content: center;
  padding: 5px;
  width: 30%;
}

.label-radio:before {
  border: 2px solid #efea4c;
  border-radius: 50%;
  content: '';
  height: 15px;
  margin-right: 12px;
  width: 15px;
}

.input-radio:checked + label {
  color: #efea4c;
}

.input-radio:checked + label:before {
  border: 6px solid #efea4c;
  height: 7px;
  width: 7px;
}

.order-btn {
  all: unset;
  background-color: #efea4c;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  height: 5vh;
  left: 50%;
  margin: 15px 0 15px 50%;
  padding: 0 15px;
  transform: translateX(-50%);
}
