.input-radio {
  display: none;
}

.radio-btns {
  display: flex;
  justify-content: space-around;
}

.select-container-order .dropdown {
  margin-bottom: 20px;
}

.label-radio {
  align-items: center;
  border-radius: 4px;
  color: #efea4c;
  display: flex;
  justify-content: center;
  padding: 5px;
  width: 30%;
}

.label-radio:before {
  border: 2px solid #efea4c;
  border-radius: 50%;
  content: '';
  height: calc(0.2vh + 15px);
  margin-right: 12px;
  min-width: calc(1% + 15px);
}

.input-radio:checked + label {
  color: #efea4c;
}

.input-radio:checked + label:before {
  background-color: black;
  border: 6px solid #efea4c;
  height: calc(0.2vh + 7px);
  min-width: calc(1% + 7px);
}

.order-btn {
  all: unset;
  background-color: #efea4c;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  height: 5vh;
  left: 50%;
  margin: 15px 0 15px 50%;
  padding: 0 15px;
  transform: translateX(-50%);
}

@media only screen and ( min-width : 1600px ) {
  .label-radio:before {
    height: calc(0.2vh + 20px);
    margin-right: 12px;
    min-width: calc(1% + 20px);
  }

  .input-radio:checked + label:before {
    height: calc(0.2vh + 12px);
    min-width: calc(1% + 12px);
  }
}