.loading-container {
  align-items: center;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100%;
}

.loading {
  animation: rotate ease 1s infinite;
  border: 5px solid black;
  border-radius: 50%;
  border-top-color: yellow;
  display: grid;
  height: 100px;
  width: 100px;
}

@keyframes rotate {

  to {
    transform: rotate(360deg);
  }
}
