.main-container {
  background-color: #292929;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 10px;
  width: 95%;
}

.table {
  border-collapse: collapse;
}

.line-table {
  border-bottom: 1px solid #1f1f1f;
}

.table-body td {
  color: white;
  font-size: 0.9rem;
  padding: 10px;
}

.table-body a {
  all: unset;
  text-decoration: underline;
  cursor: pointer;
  color: #efea4c;
}

@media ( max-width : 1300px ) {

  .table thead {
    display: none;
  }

  .table td {
    display: flex;
    justify-content: space-between;
  }

  .table-body td {
    border-bottom: 2px solid #1f1f1f;
  }

  .table tr {
    display: block;
  }

  .table td:first-of-type {
    background-color: #363636;
    color: #7b7b7b;
    display: block;
    font-size: 1rem;
    font-weight: 700;
    margin: 15px 0;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
  }

  .table td:not( :first-of-type ):before {
    color: white;
    content: attr(data-title);
    display: block;
    font-size: 0.8rem;
    font-weight: 700;
    text-transform: uppercase;
  }

  .table-body tr {
    margin-bottom: calc(5% + 10px);
  }
}
