.filters {
  flex-direction: column;
}

.filters, .main-filter, .search-box, .dropdown-select {
  display: flex;
}

.main-filter {
  align-items: center;
  height: 7vh;
  justify-content: space-around;
}

.search-box, .dropdown-select, .input-value {
  height: 3.5vh;
}

.search-box, .input-search, .dropdown-list, .dropdown-select, .input-value {
  background-color: #434343;
}

.dropdown-list, .dropdown-select, .input-value {
  border-radius: 4px;
}

.search-box {
  border-radius: 15px;
  position: relative;
}

.input-search {
  border: none;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  color: white;
  padding: 5px;
  width: 12rem;
}

.input-search:focus {
  outline: none;
}

.input-search::placeholder {
  font-weight: 600;
}

.searchIcon {
  align-self: center;
  color: yellow;
  margin: auto;
  padding: 0 8px;
  transform: translateY(2px);
}

.label-input {
  color: #9a9a9a;
  font-size: 0.6em;
  font-weight: 700;
  position: absolute;
  text-transform: uppercase;
  transform: translateY(-15px);
}

.dropdown {
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.315);
  position: relative;
  width: 12rem;
}

.dropdown-list {
  cursor: pointer;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 110%;
  transition: opacity 0.2s linear , visibility 0.2s linear;
  visibility: hidden;
}

.dropdown:hover .dropdown-list {
  opacity: 1;
  visibility: visible;
}

.dropdown-select {
  align-items: center;
  color: white;
  cursor: pointer;
  justify-content: space-between;
  padding: 0.2rem 1rem;
  width: 100%;
}

.dropdown-list__item {
  color: white;
  padding: 10px;
}

.dropdown-list__item:hover {
  background-color: #4a4a4a;
}

.input-value {
  border: none;
  box-shadow: 0 3px 5px -1px rgba(0, 0, 0, 0.315);
  color: white;
  padding: 0 10px;
  width: 12rem;
}

.input-value::-webkit-inner-spin-button, .input-value::-webkit-outer-spin-button {
  appearance: none;
}

.input-value:focus {
  outline: none;
}

.btn-filter {
  all: unset;
  background-color: yellow;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 600;
  height: 3.5vh;
  padding: 0 15px;
}
