.remove-filters-btn {
  all: unset;
  background-color: #ff6961;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.8em;
  font-weight: 600;
  margin: 15px 0;
  padding: 7px 15px;
}

.filters-tag {
  display: flex;
  flex-wrap: wrap;
}

.tag {
  background-color: #f1ed62;
  border-radius: 20px;
  font-size: 0.9em;
  margin: 5px 10px;
  margin-left: 0;
  padding: 5px 10px;
}

.btn-remove {
  all: unset;
  background-color: black;
  border-radius: 50%;
  color: #f1ed62;
  margin-left: 5px;
  padding: 0 5px;
}
